* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#dynamic-image {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.response-btn {
  background-color: #008CBA;
  margin: 10px;
}

.response-btn:hover {
  background-color: #007B9A;
}

#error-message {
  color: red;
  font-weight: bold;
}

.anxious-face {
  font-size: 24px;
}

#dynamic-image {
  width: 100px; /* Tamanho da imagem, pode ajustar */
  height: 100px; /* Tamanho da imagem, pode ajustar */
  margin-top: 20px;
}

/* Estilos gerais para o botão */
#yes-btn {
  background-color: #ff5e5e;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Animação de pulsação */
@keyframes pulse {
  0% {
    transform: scale(1); /* Tamanho normal */
  }
  50% {
    transform: scale(1.2); /* Aumenta para 120% */
  }
  100% {
    transform: scale(1); /* Volta ao tamanho normal */
  }
}

/* Aplicando a animação ao botão "Sim" */
#yes-btn.pulsing {
  animation: pulse 1s infinite; /* Animação dura 1 segundo e repete infinitamente */
}
